
<header>
  <div class="mobile-nav-toggle"><span></span></div>
  <h1 style="background-image: url('{{ '/assets/img/sf-logo.svg' | prepend: site.baseurl | prepend: site.url }}')" class="sf-logo">SF</h1>
  <div class="header-position">
    <h2 style="background-image: url('{{ '/assets/img/sf-img.jpg' | prepend: site.baseurl | prepend: site.url }}')" class="sf-img">Syahmi Fauzi</h2>
    <nav class="site-nav">
      <ul>
        <li><a href="#about" class="all-site-nav active-nav">About</a></li>
        <li><a href="#projects" class="all-site-nav">Projects</a></li>
        <li><a href="#blog" class="all-site-nav">Blog</a></li>
        <li><a href="#contact" class="all-site-nav">Contact</a></li>
      </ul>
    </nav>
    <div class="oneGroup"> 
      <div class="email-link"><a href="mainto:msf@syahmifauzi.com">+email me  </a></div>
      <div class="social-media">
        <ul>
          <li><a href="https://github.com/syahmifauzi" target="_blank"><span class="github"></span></a></li>
          <li><a href="https://twitter.com/_syahmifauzi" target="_blank"><span class="twitter"></span></a></li>
          <li><a href="https://www.instagram.com/_syahmifauzi/" target="_blank"><span class="instagram"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>