/* BASE */
$primary-font: "Orbitron", monospace, sans-serif, garamond-bold;
$blog-font: cursive, "Times New Roman", Times, serif;
$arabic-font: "Amiri Quran ColoredWeb", "Amiri QuranWeb", "Times New Roman", serif;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// font-family: monospace;

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: $primary-font;
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover
    {color: orange}
}
li {list-style: none;}
