.about#about(style="background-image: url('{{ '/assets/img/me-bg-l.jpg' | prepend: site.baseurl | prepend: site.url }}')")
  h1 Syahmi is 19 years old..
     br
     span.indent-1 He is a student
     br
     span.indent-2 from Malaysia
     br
     span.indent-3 and he loves
     br 
     span.indent-4: a(href="#projects") &lt;code/&gt;

//- Nak buat arrow ke bawah guna span
