.contact#contact
  a(href="mailto:msf@syahmifauzi.com")
    | msf
    span @
    | syahmifauzi.com
    ul
      li: a(href="https://github.com/syahmifauzi"): span.github
      li: a(href="https://twitter.com/_syahmifauzi"): span.twitter
      li: a(href="https://www.instagram.com/_syahmifauzi/"): span.instagram
