.blog#blog(style="background-image: url('{{ '/assets/img/blog-bg-l.jpg' | prepend: site.baseurl | prepend: site.url }}')")
  #col-wrap
    .col-60
      h1 
        | Also, he loves sharing
        br
        | things with you guys..
        br
        | Come see his blog..
      
    .col-40
      a(href="#") View Blog
