.projects#projects
  #col-wrap
    .col-40
      a(href="#").a-1st View Projects
      a(href="#blog"): span.arrow-below &lt;
    .col-60
      h1
        | Currently,
        br
        | he did some small projects,
        br
        | to help people and himself..
        br
        | Wanna see his Projects? Click the button..
        br
        | Comments for ideas and improvement..
        | &#x1f609;
    
